<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- Import a modern Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <!-- Import FontAwesome for social icons -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-3hNu2W+e27Z/hZ0ZLk9A47w9J95JlEwEuqqOW5IjzjmN9zUGZb5d/1qKUr+P3GKeUGrXkpJ0bLD8V4nQx8U9nw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="header-top">
        <h1>Luke Robbins</h1>
        <div class="socials">
          <a href="https://www.linkedin.com/in/lukevrobbins" target="_blank" aria-label="LinkedIn">
            <img src="/assets/icons/li-logo.png" alt="LinkedIn Icon" />
          </a>
          <a href="https://github.com/lukevrobbins" target="_blank" aria-label="GitHub">
            <img src="/assets/icons/github-mark.svg" alt="GitHub Icon" />
          </a>
          <a href="mailto:lukevrobbins@gmail.com" aria-label="Email">
            <img src="/assets/icons/envelope-solid.svg" alt="Envelope Icon" />
          </a>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/database">Database</a></li>
        </ul>
      </nav>
    </div>
  </header>
