<section class="projects-cards">
<div class="cards-container">
  <a href="/projects" class="card">
    <h3>Project One</h3>
    <p>A brief description of project one goes here.</p>
  </a>
  <a href="/projects" class="card">
    <h3>Project Two</h3>
    <p>A brief description of project two goes here.</p>
  </a>
  <a href="/projects/chat_bot" class="card">
    <h3>Project Three</h3>
    <p>A brief description of project three goes here.</p>
  </a>
</div>
</section>