<%- include('partials/header', { title: title }) %>

<main>
  <section class="landing">
    <div class="landing-container">
      <div class="headshot">
        <img src="assets/photos/headshot.jpg" alt="My Headshot">
      </div>
      <div class="intro-text">
        <h2>Welcome to My Projects</h2>
        <p >Hi! Welcome to my portfolio and project site. </br>
        I'm a Data Scientist turned Machine Learning Engineer with a passion for learning new things and building cool stuff. </br>
        I made this site from scratch using Node.js, python, the Azure stack, and a good amount of coffee. </br>
        Take a look around and please reach out if you'd like to chat!</p>
      </div>
    </div>
  </section>
  <!-- Projects Cards Section -->
  <%- include('partials/projects') %>
  
</main>
